body{
	font-family: serif;
	color: #fff;
	background-image: url('background.gif');
	font-weight:normal;
	font-size: 25px;

}

#container{
	width:auto;
	margin:50px auto;
	padding: 20px;
	
}
#container h2{
	text-align:center;
	color:#fff;
}

#quoteContainer{
	width:75%;
	padding:0px 10px 80px 10px;
	margin:30px auto;
	text-align: center;
    height:100px;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	width:200px;
	margin-top:70px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}


/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}